@using HumanResourceHelth.Model
@{ ViewBag.Title = "Index"; }

@functions{ IHtmlString GetContent(int contentId)
    {
        string content = "";
        List<Content> contents = (List<Content>)Session["Content"];
        if (!System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft)
        {
            content = contents.Where(x => x.Id == contentId).Single().EnglishText;
            if (content.Trim() == "") content = "Please Insert Text";
        }
        else
        {
            content = contents.Where(x => x.Id == contentId).Single().ArabicText;
            if (content.Trim() == "") content = "برجاء ادخال نص";
        }

        return Html.Raw(content);
    }

}
@{
    bool isArabic = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft;
    var dir = isArabic ? "rtl" : "ltr";
    var pullText = isArabic ? "text-right" : "text-left";
    var pullIcon = isArabic ? "text-left" : "text-right";
    var checkInput = isArabic ? "pl-4" : "pr-3";
    var Checklable = isArabic ? "pr-4" : "pl-3";
}


<div id="page-title" class="text-grey background-overlay " style="background-image: url('@Url.Content("~/assets/img/aboutus.jpg")');" dir="@dir">
    <div>
        <div class="container padding-tb-185px z-index-2 position-relative">
            <h1 class="font-weight-700 text-capitalize page-title-about cms" data-contentId="63">@GetContent(63)</h1>
            <div class="row ">
                <div class="col-lg-7">
                    <h1 class="font-weight-700 pageSubTitle-about padding-tb-15px cms" data-contentId="64">@GetContent(64)</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page title --->


<section class="background-light-grey padding-tb-100px text-center" dir="@dir">
    <div class="container">
        <div class="row justify-content-md-center" id="LoginArea">

            <div class="col-lg-4">
                <div class="padding-30px background-white border-1 border-grey-1">
                    <form>
                        <div class="form-group @pullText" style="font-family: cairo">

                            <label for="txtEmail" class="col-form-label"><strong> @Resources.General.Email</strong></label>
                            <input type="email" class="form-control rounded-0" id="txtEmail" placeholder="@Resources.General.Email">
                        </div>
                        <div class="form-group @pullText">
                            <label for="txtPassword" class="col-form-label"><strong>@Resources.General.Password</strong></label>
                            <div class="input-group" dir="ltr">
                                <span class="input-group-addon"> <i id="iofpass" class="fa fa-eye-slash" onclick="showPss('txtPassword','iofpass')"></i></span>
                                <input type="password" class="form-control rounded-0" id="txtPassword" placeholder="@Resources.General.Password">
                            </div>
                        </div>
                        <div class="form-group @pullText">
                            <div class="form-check font-weight-700">
                                <label class="form-check-label">
                                    <input class="form-check-input @checkInput" type="checkbox">
                                    <span class="@Checklable">@Resources.General.RememberMe</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="#" id="btnSave" class="btn btn-primary btn-block rounded-0 background-main-color">@Resources.General.SignIn</a>
                        </div>
                    </form>
                </div>

                <div class="padding-30px background-white border-1 border-grey-1 pb-0">
                    <div class="form-group" dir="@dir">
                        <div class="margin-bottom-20px margin-top-20px">
                            <a href="@Url.Action("Register","Login")" class="btn btn-primary btn-block rounded-0 background-main-color"> <span class="text-uppercase @pullText">@Resources.General.singup</span><i class="fa fa-user margin-right-10px @pullIcon" aria-hidden="true"></i></a>
                            
                        </div>

                        <div class="border-grey-2 text-center">
                            <a href="javascript:void(0)" id="lnkForgetPassword"><i class="fa fa-lock margin-right-10px" aria-hidden="true"></i> <strong class="text-uppercase">@Resources.General.RecoverMyPassword</strong></a>
                            <span class="d-block"><a href="#" class="text-grey-2">@Resources.General.HaveYouFoundAnError</a></span>
                        </div>
                        @*<p class="text-grey-2 cms" data-contentId="65">@GetContent(65)</p>*@
                    </div>

                </div>
            </div>


        </div>
        <!-- // row -->
    </div>
    <!-- // container -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title cms" data-contentId="00000">@ViewBag.RegistrationTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cms" data-contentId="67">@Html.Raw(ViewBag.Registration)</div>
        </div>
    </div>
</div>




<script>
    $("#btnSave").on("click", function () {
        var email = $("#txtEmail").val();

        var password = $("#txtPassword").val();
        const queryString = window.location.search;
        let finalbackUrl;
        if (queryString != "") {

            const urlParams = new URLSearchParams(queryString);
            const backUrl = urlParams.get('r');
            finalbackUrl = backUrl;
        }
        else {
            const backUrl = "@Url.Action("UserSubscriptions", "Home")";
            finalbackUrl = backUrl;
        }
        
        if (email == "") {
            toastr.error("Please Enter Email");
            return;
        }

        if (password === "") {
            toastr.error("Please Enter Password");
            return;
        }
        $.ajax({
            url: "@Url.Action("Login", "Login")",
            data: { "email": email, "password": password, "backUrl": finalbackUrl },
            type: "POST",
            success: function (msg, msg2, msg3) {
                if (msg.StatusCode == 200) {
                    window.location = msg.previousePage;
                }
                //console.log(msg3);
                //console.log(msg3.statusDescription);
                //console.log(msg2); console.log(msg);
                //debugger;
                //var url = window.location.protocol + "//" + window.location.host;

                //if (msg3.statusText == "Survey")
                //    url = url + "/Survey/Index";
                //else if (msg3.statusText == "WarmUp")
                //    url = url + "/Plans/WarmUp";
                //else if(msg3.statusText == "StartUp")
                //    url = url + "/Plans/StartUp";
                //else if (msg3.statusText == "ManualBuilder")
                //    url = url + "/Plans/ManualBuilder";
                //else if (msg3.statusText == "Section")
                //    url = url + "/Section/Index";
                //else if (msg3.statusText == "ChangePassword")
                //    url = url + "/Home/ChangePassword";
                //else if (msg3.statusText == "EditProfile")
                //    url = url + "/Home/EditProfile";
                //else if (msg3.statusText == "UserProfile")
                //    url = url + "/Home/UserProfile";
                //else if(msg3.statusText == "UserPlans")
                //    url = url + "/Home/UserSubscriptions";
                //else
                //    url = url + "/Home";
               /* window.location.replace(url);*/
                    @*window.location = '@Url.Action("StartUp", "Plans")';*@
            },
            error: function () {
                toastr.error("User Name or Password not correct")
            }
        });
    });

    $("#lnkForgetPassword").on("click", function () {
        if (!window.confirm('Are you sure you want to reset your password and send new password to your Email')) {
            return;
        }

        var email = $("#txtEmail").val();

        if (email === "") {
            toastr.error("Please Enter Your Email");
        }

        $.ajax({
            url: "@Url.Action("ForgetPassword", "Login")",
            data: { "email": email },
            success: function () {
                toastr.success("Password Reset, Please Check your Email")
            },
            error: function (err, status, error) {
                toastr.error(err.statusText)
            }
        })

    });
</script>
