@model IEnumerable<HumanResourceHelth.Model.Countries>

@{
    ViewData["Title"] = "Index";
            Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryNameEn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryNameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryNameEn)
            </td>
            <td>
                <a href="@Url.Action("Edit",new {id=item.CountryID })" >Edit</a> |
                <a href="@Url.Action("Details",new {id=item.CountryID })" >Details</a> |
                <a href="@Url.Action("Delete",new {id=item.CountryID })" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
