@model HumanResourceHelth.Web.PaypageResponse

@{ bool isArabic = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft;
    ViewBag.Title = "Index";
    string plan = ViewBag.Plan;
    int looper = 0;
    string dir = isArabic ? "rtl" : "ltr";
    var alignclass = isArabic ? "pull-left" : "pull-right";
    var labelClass = isArabic ? "pull-right" : "pull-left";
    var Opalignclass = isArabic ? "pull-left" : "pull-right";
    var rotate = isArabic ? "-webkit-transform:rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);" : "";
    string Text_Align = isArabic ? "text-right" : "";

}

<div class="container mb-5 pt-1 pb-5" dir="@dir">
    <div class="panel panel-info">
        <div class="panel-heading">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="row">
                    <h1 class="h2 @Opalignclass"> @Resources.General.ProceedPayment</h1>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group ml-2 col-lg-12">

                    </div>
                </div>
            </div>

        </div>
        <div class="panel-body text-center" id="CategoriesContinar" dir="@dir">
            @if ((bool)ViewData["Frammed"] == true)
            {
                <iframe src="@Model.redirect_url" style="min-width: 400px; min-height: 500px;" /> }
            else
            {
                <a href="@Model.redirect_url">
                    <img src="~/assets/img/payTabs.png" style="width:200px; height:100px;">
                    <h5 class="h6">@Resources.General.PayWithPayTabs</h5>
                </a>
            }
        </div>
    </div>
</div>