@using HumanResourceHelth.Model
@model List<TechRequest>
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 col-sm-12 col-lg-12">
    <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            </div>
            <h4 class="panel-title">Tech Requests</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>Industry</th>
                        <th>No Of Employees</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int counter = 1;}
                    @foreach (TechRequest techRequest in Model)
                    {
                        <tr>
                            <td>@(counter++)</td>
                            <td>@techRequest.User.Name</td>
                            <td>@techRequest.Email</td>
                            <td>@techRequest.PlanName</td>
                            <td>@techRequest.RequestDate.ToString()</td>
                            <td>@((new HumanResourceHelth.Model.NumberOfEmployees()).Employees.Where(x => x.Key == techRequest.NumberOFEmployees).Single().Value)</td>
                            <td>@techRequest.Description</td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>

