@model IEnumerable<HumanResourceHelth.Model.Category>
@using HumanResourceHelth.Model.Resources
@{
    ViewBag.Title = "Index";
    Session["Backto"] = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    bool isArabic = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft;
    var dir = isArabic ? "rtl" : "";
    int countryId = 99999;
    string countryName = "";
    string TermsName = "";
    string Text_align = isArabic ? "text-right" : "text-left";
    var alignclass = isArabic ? "pull-right" : "pull-left";
    var Opalignclass = isArabic ? "pull-left" : "pull-right";
}
<div class="container" dir="@dir" style="font-size:1.4em;">
    <div class="panel panel-info">
        <div class="panel-heading">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"> @Resources.General.Categories</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group ml-2 col-lg-12 col-xs-12">
                        <a class="btn btn-lg btn-success @Opalignclass" href="@Url.Action("Create")">
                            @AppResource.Create
                            <i class="fa fa-plus"></i>
                        </a><a class="btn btn-lg btn-success @alignclass" href="/Admin/DocFiles">
                            @Resources.General.CategoryDocFiles
                        </a>
                    </div>

                </div>
            </div>


        </div>
        <div class="panel-body" dir="@dir">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="text-center">
                            @Resources.General.CategoryENName
                        </th>
                        <th class="text-center">
                            @Resources.General.CategoryARName
                        </th>
                        <th class="text-center">
                            @Resources.General.CategoryStatus
                        </th>
                        <th class="text-center">
                            @Resources.General.CategoryPlan
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameAr)
                            </td>
                            <td>
                                @if (item.isActive)
                                {
                                    @Resources.General.CategoryActive
                                }
                                else
                                {
                                    @Resources.General.CategoryInActive
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryPlan)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.General.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                                @Html.ActionLink(Resources.General.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                                |@Html.ActionLink(Resources.General.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>