@using HumanResourceHelth.Model
@using HumanResourceHelth.Web.Areas.Admin.Data
@using HumanResourceHelth.Model.Resources
@model HomeViewModel
@{ ViewBag.Title = "Index"; }

@section PageLevelStyles
{
    <link rel="preload" href="~/Areas/Admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" as="style"
          onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="~/Areas/Admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css"></noscript>
    <!-- <link href="~/Areas/Admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" /> -->
    <link rel="preload" href="~/Areas/Admin/assets/plugins/bootstrap-datepicker/css/datepicker.css" as="style"
          onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="~/Areas/Admin/assets/plugins/bootstrap-datepicker/css/datepicker.css"></noscript>
    <!-- <link href="~/Areas/Admin/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" /> -->
    <link rel="preload" href="~/Areas/Admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css" as="style"
          onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="~/Areas/Admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css"></noscript>
    <!-- <link href="~/Areas/Admin/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" /> -->
    <link rel="preload" href="~/Areas/Admin/assets/plugins/gritter/css/jquery.gritter.css" as="style"
          onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="~/Areas/Admin/assets/plugins/gritter/css/jquery.gritter.css"></noscript>
    <link href="~/Areas/Admin/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
}


@section PageLevelScripts
{
    <script src="~/Areas/Admin/assets/plugins/gritter/js/jquery.gritter.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/flot/jquery.flot.min.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/flot/jquery.flot.time.min.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/flot/jquery.flot.resize.min.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/flot/jquery.flot.pie.min.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/sparkline/jquery.sparkline.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js" ></script>
    <script src="~/Areas/Admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" ></script>
    <script src="~/Areas/Admin/assets/js/dashboard.js" ></script>
    <script src="~/Areas/Admin/assets/js/apps.min.js" ></script>
}

@section DocumentReady
{
    @*App.init();*@
}
@{ 
    bool isArabic = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft;
    var dir =isArabic? "rtl": "ltr";
    var icon_align = isArabic? "pull-left":"pull-right";
    var row_item_align = isArabic? "pull-right":"";
    var stats_icon_class =isArabic? "stats-icon-ar": "stats-icon";
}
<div dir="@dir">
    <h1 class="page-header">@AppResource.Dashboard @*<small>header small text goes here...</small>*@</h1>


    @{ if (Session["User"] == null || !((User)Session["User"]).IsAdmin)
        {
            Response.Redirect(Url.Action("Index", "Login", new { Area = "Admin" }));
        } }

    <div class="row" dir="@dir"> 
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-purple">
                <div class="@stats_icon_class"><i class="fa fa-book"></i></div>
                <div class="stats-info p-b-10">
                    <a href="~/Courses">
                        <p class="text-white">@AppResource.Courses</p>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-red">
                <div class="@stats_icon_class"><i class="fa fa-user-check"></i></div>
                <div class="stats-info p-b-10">
                    <a href="~/Trainers">
                        <p class="text-white">@AppResource.Trainers</p>
                    </a>
                </div>

            </div>
        </div>
        <!-- end col-3 -->

        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-green">
                <div class="@stats_icon_class"><i class="fa fa-certificate"></i></div>
                <div class="stats-info p-b-10">
                    <a href="~/Specialties">
                        <p class="text-white">@AppResource.Specialties  </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-orange">
                <div class="@stats_icon_class"><i class="fa fa-parking"></i></div>
                <div class="stats-info p-b-10">
                    <a href="~/Departments">
                        <p class="text-white">@AppResource.Departments  </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-orange">
                <div class="@stats_icon_class"><i class="fa fa-parking"></i></div>
                <div class="stats-info p-b-10">
                    <a href="~/Coupon">
                        <p class="text-white">@AppResource.Coupons</p>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="row h4" dir="@dir">
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-green">
                <div class="@stats_icon_class"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.Builder</h4>
                    <p>@Model.Builders</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","Section", new { Area = ""})">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-orange">
                <div class="@stats_icon_class"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.Customers</h4>
                    <p>@Model.Users</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","User")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-purple">
                <div class="@stats_icon_class"><i class="fa fa-desktop"></i></div>
                <div class="stats-info">
                    <h4>@AppResource.Courses</h4>
                    <p>@Model.Courses</p>
                </div>
                <div class="stats-link">
                    <a href="~/Courses">@Resources.General.ViewDetails</a>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-red">
                <div class="@stats_icon_class"><i class="fa fa-clock-o"></i></div>
                <div class="stats-info">
                    <h4>@AppResource.Experts</h4>
                    <p>@Model.Experts</p>
                </div>
                <div class="stats-link">
                    <a href="/Admin/ExpertsProfiles">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-yellow-darker">
                <div class="@stats_icon_class"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>Health Check Data "@Resources.General.FreePlan"</h4>
                    <p>@Model.FreeIndicators</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Free","Indicator")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-aqua-darker">
                <div class="@stats_icon_class"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>Health Check Data "@Resources.General.Paid"</h4>
                    <p>@Model.PaidIndicators</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Paid","Indicator")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-orange">
                <div class="@stats_icon_class"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.BusinessHealthCheck</h4>
                    <p>@Model.BusinessIndicators</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Business","Indicator")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-blue-lighter">
                <div class="@stats_icon_class"><i class="fa fa-desktop"></i></div>
                <div class="stats-info">
                    <h4>Form Tech</h4>
                    <p>@Model.TechRequests</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","TechRequests")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-grey">
                <div class="@stats_icon_class"><i class="fa fa-clock-o"></i></div>
                <div class="stats-info">
                    <h4>Form Plugin</h4>
                    <p>@Model.PluginRequests</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","PluginRequests")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-red">
                <div class="@stats_icon_class"><i class="fa fa-book"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.TermsConditions</h4>
                    <p>@Model.Terms</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","TermsConditions")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-yellow-darker">
                <div class="@stats_icon_class"><i class="fa fa-user-check"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.Updates</h4>
                    <p>@Model.Updates</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","Updates")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-aqua-darker">
                <div class="@stats_icon_class"><i class="fa fa-folder"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.ManagePlansFiles</h4>
                    <p>@Model.Files</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","DocFiles")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-silver-darker">
                <div class="@stats_icon_class"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.ManagePlansFiles</h4>
                    <p>0</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","PlansData")">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-purple-lighter">
                <div class="@stats_icon_class"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.ManageCountries</h4>
                    <p>@Model.Countries</p>
                </div>
                <div class="stats-link">
                    <a href="#">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-green-darker">
                <div class="@stats_icon_class"><i class="fa fa-desktop"></i></div>
                <div class="stats-info">
                    <h4>@Resources.General.Industry</h4>
                    <p>@Model.Industreis</p>
                </div>
                <div class="stats-link">
                    <a href="#">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 @row_item_align">
            <div class="widget widget-stats bg-red">
                <div class="@stats_icon_class"><i class="fa fa-clock-o"></i></div>
                <div class="stats-info">
                    <h4>CMS</h4>
                    <p>&nbsp;</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index","Home", new { Area = ""})" target="_blank">@Resources.General.ViewDetails</a>
                </div>
            </div>
        </div>

    </div>

</div>




