@model HumanResourceHelth.Model.OurPartners

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OurPartners</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerNameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerNameAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerofficalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerofficalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerofficalPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerofficalPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerFocalPointName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerFocalPointName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerFocalPointNameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerFocalPointNameAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerFocalPointEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerFocalPointEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerFocalPointPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerFocalPointPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerDesAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerDesAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
