@using HumanResourceHelth.Model.Resources
@*@inject LocalizationService LocalizationService*@

@model HumanResourceHelth.Model.Courses

<div>
    <h4>@AppResource.Courses</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoursePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoursePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntroText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntroText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntroVideo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntroVideo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requirements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isfree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isfree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.TrainerID)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit",new { id=@Model.CourseID})">@AppResource.Edit</a> |
    <a href="@Url.Action("Index")">@AppResource.BackToList</a>
</div>
